[Unit]
Description=CaddyServer
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/caddy start -config /etc/caddy/Caddyfile
ExecStop=kill -9 $(pidof caddy)
ExecReload=kill -9 $(pidof caddy) && /usr/bin/caddy start -config /etc/caddy/Caddyfile

[Install]
WantedBy=multi-user.target
